@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

body,
html {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: #111;
    /*font-size: 13px;*/
    font-family: 'Arvo', monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}

.container {
	display:flex;
	position: relative;
	top: 3rem;
	width:100%;
	height:80%;
	margin: 5rem;
	flex-direction: row;
}

.left-container {
	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 40%;
	background-color: red;
}

.photo {
	height: 80%;
	width: 100%;
	background-color: green;
}

.datas-photo {
	height: 20%;
	width: 100%;
	background-color: transparent;
	flex-direction: column;
	display: flex;
}

.right-container {
	display: flex;
	margin-left: 5rem;
	flex-direction: column;
	height: 100%;
	width: 40%;
	background-color: black;

}

;likeBtn {
	align-items: center;
	align-content: center;
}
