.content-div {
	width: 1000px;
	height: 650px;
	max-height: 100%;
	background-color: #000000;
	color: white;
	display: none;
	opacity: 0;
	visibility: hidden;
	transition: opacity 1s, visibility 1s;
	overflow: scroll;
	max-width: 100%;
}

.content-div.active { 
	display: grid;
	/*grid-template-columns: auto auto auto auto;*/
	width: 100%;
	max-width: 1000px;
	opacity: 1;
	visibility: visible;
}

@media (min-width:768px) {
	.responsive-menu {
		visibility: hidden;
		display: none;
	}
}

@media (max-width: 768px) {
	.responsive-menu {
		display: grid;
		grid-auto-flow: column;
		grid-auto-columns: 0.33333fr;
		width: 1000px;
		height: 50px;
		max-width: 100%;
		color: white;
		background-color: black;
		font-size: 1em;
		cursor: pointer;
		border-bottom: 3px solid rgba(255, 255, 255, 0.1);
	}
	.responsive-menu > div {
		height: 100%;
		align-content: center;
		text-align: center;
		width: 100%;
		/*border-bottom: 10px solid white;*/
		&:hover {
			background-color: rgba(255, 255, 255, 0.3);
		}
	}
	body {
		flex-direction: column;
	}
}
