::-webkit-scrollbar {
	width: 0;
	height: 0;
	background: transparent;
}


body {
	margin: 0px;
	padding: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: #111;
}

.main {
	width: 350px;
	height: 500px;
	background: #000;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}

.subMain {
	height: 90%;
	background: #eee;
	border-radius: 70% / 10%;
	transform: translateY(20px);
	transition: 0.8s ease-in-out;
}

.title {
	color: #B61A53;
	font-size: 1.5em;
	justify-content: center;
	display: flex;
	margin-top: 25px;
	font-weight: bold;
	cursor: pointer;
	transition: 0.5s ease-in-out;
}

input {
	width: 60%;
	height: 10px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 12px;
	border: none;
	outline: none;
	border-radius: 5px;
}

.btn {
	width: 66%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #d36e9c;
	font-size: 1em;
	font-weight: bold;
	margin-top: 30px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: 0.2s ease-in;
	cursor: pointer;
}

.btn:hover {
	background: #B61A53;
}

.textInput {
	font-size: 15px;
    border: none;
    display: flex;
    margin: 1px 17%;
}

.info {
	margin-left: 50%;
	width: 10%;
	top: 20%;
	position: absolute;
}

.passwordRequierments {
	position: fixed;
    margin-left: 20%;
    top: 40%;
    opacity: 0;
    width: 300px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 12px;
    padding: 10px;
    text-align: justify;
    transition: all 300ms ease;
}

.info:hover + .passwordRequierments {
	transform: translateY(18px);
	opacity:1;
}