BIND_ADDR=8080

DB_HOST=database
DB_PORT=5432
DB_NAME=camagru
DB_USER=hlucie
DB_PASSWORD=mdp
DB_SSLMODE=disable

FROM=camagru@mail.fr
HOST=smtp.mail.fr
PORT=487
PASSWORD=

FRONTEND_PATH=/app/frontend/srcs
