<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" type="text/css" href="/styles/resetPassword.css" />
	<script src="https://kit.fontawesome.com/76ec232e00.js" crossorigin="anonymous"></script>
	<title>Camagru</title>
</head>

<body style="margin:0;padding:0">
	<div class="main">
		<div class="title">Reset your password</div>
		<div class="subMain">
			<div
				style="top:10%; position:relative; text-align: justify; width:65%; height: 1.5%; justify-content: center; display: flex; margin: 20px auto;padding: 12px;">
				To reset your password, please enter your username and email address. If you are registered in our database, we will send you a link to reset your password.
			</div>
			<div style="position: relative; top: 25%; display: block;">
				<form method="POST" onsubmit="return false">
					<input type="text" id="Username" name="txt" placeholder="Username">
					<input type="email" id="Email" name="email" placeholder="Email">
					<button id="sendLink" class="btn">Send link</button>
				</form>
			</div>
		</div>
	</div>
</body>
<script src="/scripts/forgetPassword.js"></script>

</html>
