<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Camagru</title>
  <script src="https://kit.fontawesome.com/76ec232e00.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/styles/sticky-bar.css" />
  <link rel="stylesheet" type="text/css" href="/styles/gallery.css" />
  <link rel="icon" href="/assets/favicon.svg" />
</head>

<body>
  <header style="position:fixed; z-index: 5;">
    <ul class="nav js-nav">
	<div class="logo">
		<img style="float: left; width:350px;" src="/assets/logo2.png">
	</div>
		<div class="menu">
		<li class="nav__item">
        <button href="#" class="nav__link" onclick="redirectionPage('/gallery')">Gallery</button>
      </li>
      <li class="nav__item">
        <button class="nav__link" onclick="redirectionPage('/takePicture')">Take a picture</button>
      </li>
      <li class="nav__item">
        <button href="#" class="nav__link" onclick="redirectionPage('/settings')">Profile</button>
      </li>
      <li class="nav__item">
        <button href="#" class="nav__link">Notification</button>
      </li>
      <li class="nav__item">
        <button id="logout" class="nav__link">Logout</button>
      </li>
		</div>
    </ul>
    <button id="burger" class="burger js-burger">
      <svg viewBox="0 0 24 24">
        <path fill="currentColor" d="M3 18H21V16H3V18ZM3 13H21V11H3V13ZM3 6V8H21V6H3Z" />
      </svg>
    </button>
  </header>
  <div class="gallery-container">
    <img style="z-index:0" src="/assets/camera.jpg">
    <img style="z-index:0" src="/assets/camera.jpg">
    <img style="z-index:0" src="/assets/camera.jpg">
    <img style="z-index:0" src="/assets/camera.jpg">
    <img style="z-index:0" src="/assets/camera.jpg">
    <img style="z-index:0" src="/assets/camera.jpg">
    <img style="z-index:0" src="/assets/camera.jpg">
    <img style="z-index:0" src="/assets/camera.jpg">
    <img style="z-index:0" src="/assets/camera.jpg">
    <img style="z-index:0" src="/assets/camera.jpg">
    <img style="z-index:0" src="/assets/camera.jpg">
    <img style="z-index:0" src="/assets/camera.jpg">
    <img style="z-index:0" src="/assets/camera.jpg">
    <img style="z-index:0" src="/assets/camera.jpg">
    <img style="z-index:0" src="/assets/camera.jpg">
    <img style="z-index:0" src="/assets/camera.jpg">
    <img style="z-index:0" src="/assets/camera.jpg">
    <img style="z-index:0" src="/assets/camera.jpg">
    <img style="z-index:0" src="/assets/camera.jpg">
    <img style="z-index:0" src="/assets/camera.jpg">
    <img style="z-index:0" src="/assets/camera.jpg">
  </div>
</body>
<script src="/scripts/menu.js"></script>
<script src="/scripts/picture.js"></script>
<script src="/scripts/logout.js"></script>

</html>
