<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Camagru</title>
		<script src="https://kit.fontawesome.com/76ec232e00.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="/styles/sticky-bar.css" />
		<link rel="stylesheet" type="text/css" href="/styles/picture.css" />
		<link rel="stylesheet" type="text/css" href="style/profile-menu.css">
	</head>

	<body>
		{{ template "navbar" . }} 
		<div class="main-container">
			<main class="camera-section">
				<div class="camera" ondragover="handleDragOver(event);" ondrop="handleDrop(event);">
					<video id="video"></video>
					<button id="startbutton">
						<i class="fa-solid fa-camera"></i>
					</button>
					<canvas id="canvas"></canvas>
					<div class="output">
						<img id="photo" alt="The screen capture will appear in this box." />
					</div>
				</div>
				<button id="sendButton">Send your image</button>
			</main>
			<aside class="stickers-sidebar">
				<a>
				<i class="fa-solid fa-sliders"></i>
				</a>
				<div class="content-title">
					Stickers
				</div>
				<div class="stickers-grid" id="stickersContainer"></div>
			</aside>
		</div>
		<!--<div class="contentarea">-->
		<!--   <div class="camera">-->
		<!--     <video id="video">Video stream not available.</video>-->
		<!--   </div>-->
		<!--   <canvas id="canvas"></canvas>-->
		<!--   <div class="output">-->
		<!--     <img id="photo" alt="The screen capture will appear in this box." />-->
		<!--   </div>-->
		<!-- </div>-->
	</body>
	<script src="/scripts/picturesEditor.js"></script>
	<script src="/scripts/menu.js"></script>
	<script src="/scripts/stickers.js"></script>
</html>
