<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Camagru</title>
	<link rel="stylesheet" href="/styles/profile.css" />
	<link rel="stylesheet" href="/styles/profile-menu.css" />
	<link rel="stylesheet" href="/styles/sticky-bar.css" />
	<link rel="icon" href="/assets/favicon.svg" />
	<script src="https://kit.fontawesome.com/76ec232e00.js" crossorigin="anonymous"></script>
</head>

<body>
	{{ template "navbar" . }}
	<div class="main">
		<div class="card">
			<header>
				<div class="avatar" id="avatarId"></div>
			</header>
			<h3 user-data="username"></h3>
			<div class="desc">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit et cupiditate deleniti. Lorem ipsum dolor sit
				amet, consectetur adipisicing elit et cupiditate deleniti.
			</div>
			<div class="contacts">
				<a id="show-photos"><i class="fa fa-images"></i></a>
				<a id="show-settings"><i class="fa fa-cogs"></i></a>
				<a id="show-stickers"><i class="fa fa-icons"></i></a>
				<div class="clear"></div>
			</div>
			<footer>
				<p>
				</p>
			</footer>
		</div>
	</div>
	<div id="photos-list" class="content-div active">
		<div class="tab-header">
			<div class="content-div-title">Liste des photos</div>
		</div>
	</div>
	<div id="stickers" class="content-div stickers">
		<div class="tab-header">
			<div class="content-div-title">Stickers</div>
		</div>
		<div class="stickers-grid" id="stickersContainer"></div>
	</div>
	<div id="settings" class="content-div" style="overflow-y: hidden;">
		<div class="tab-header">
			<div class="content-div-title">Settings</div>
		</div>
		<div class="data-user">
			<div class="sub-data-user">
				<div class="data-user-title">Username</div>
				<button class="modify-button" on-click="show-form">modify your username</button>	
			</div>
			<div class="data-user-text" user-data="username"></div>
			<div class="sub-data-user">
				<div class="data-user-title">Email</div>
				<button class="modify-button" on-click="show-form">modify your email</button>	
			</div>
			<div class="data-user-text" user-data="email"></div>
			<div class="sub-data-user">
				<div class="data-user-title">Password</div>
				<button class="modify-button" on-click="show-form">modify your password</button>	
			</div>
			<div class="sub-data-user">
				<div class="data-user-title">Tell us about yourself</div>
				<button class="modify-button" on-click="show-form">modify your email</button>	
			</div>
			<div class="data-user-text">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit et cupiditate deleniti. Lorem ipsum dolor sit
				amet, consectetur adipisicing elit et cupiditate deleniti.
			</div>
		</div>
		<div class="change-avatar">
			<div class="avatar" id="avatarId" style="display:flex; width: 128px; height: 128px;border: 2px solid #fff">
			</div>
			<input class="custom-file-input" type="file" accept="image/jpeg, image/png, image/jpg"id="image_input"></input>
		</div>
	</div>
</body>
<script src="/scripts/settings.js"></script>
<script src="/scripts/logout.js"></script>
<script src="/scripts/stickers.js"></script>

</html>
