<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Camagru</title>
		<link rel="stylesheet" href="/styles/settings.css" />
		<link rel="stylesheet" href="/styles/profile.css" />
		<link rel="stylesheet" href="/styles/profile-menu.css" />
		<link rel="icon" href="/assets/favicon.svg" />
		<link rel="stylesheet" href="/styles/sticky-bar.css" />
		<script src="https://kit.fontawesome.com/76ec232e00.js" crossorigin="anonymous"></script>
	</head>

	<body>
		{{ template "navbar" . }}
		{{ template "settings-container" . }}

	</body>
	<script type="module" src="/scripts/menu.js"></script>
	<script type="module" src="/scripts/settings.js"></script>
	<script type="module" src="/scripts/logout.js"></script>
	<script type="module" src="/scripts/userDataManagement.js"></script>
</html>
