<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" type="text/css" href="/styles/resetPassword.css" />
	<script src="https://kit.fontawesome.com/76ec232e00.js" crossorigin="anonymous"></script>
	<title>Camagru</title>
</head>

<body style="margin:0;padding:0">
	<div class="main">
		<div class="title">New password</div>
		<div class="subMain">
			<div class="info">
				<i style="color:#000000" class="fa-solid fa-circle-info"></i>
			</div>
			<div class="passwordRequierments">
				Password must contain between 8 and 25 characters, an uppercase letter, a lowercase letter, a
				number and a non-alphanumeric character (!@#$%&*...).
			</div>
			<div style="position: relative; top: 20%; display: block;">
				<form method="POST" onsubmit="return false">
					<div class="textInput">New password</div>
					<input type="password" id="firstPassword" name="pswd" placeholder="Password">
					
					<div class="textInput">Confirm your password</div>
					<input type="password" id="secondPassword" name="pswd" placeholder="Password">
					<button id="resetPassword" class="btn">Reset your password</button>
				</form>
			</div>
		</div>
	</div>
</body>
<script src="/scripts/resetPassword.js"></script>

</html>