{{ define "settings-container" }}

<div class="settings-container">
	<div class="content-title">
		<div class="content-div-title">Settings</div>
	</div>
	<div class="left-column">
		<div class="data-user">
			<div class="sub-data-user">
				<div class="data-user-title">Username</div>
			</div>
			<div class="data-user-text">
				<input type="text" name="username" id="Username" placeholder="">
			</div>
			<div class="sub-data-user">
				<div class="data-user-title">Email</div>
			</div>
			<div class="data-user-text">
				<input type="text" name="email" id="Email" placeholder="">
			</div>
				<div class="data-user-title">
					Notifications
				</div>
				<div class="data-user-text">
					<div class="btn-notify btn-pill" id="button-1">
						<input type="checkbox" class="checkbox-notify" id="checkedBox"/>
						<div class="knob" id="knob"></div>
						<div class="btn-bg"></div>
					</div>
				</div>

			<button type="button" id="forgetPassword">Reset your password</button>
			<button class="save-change" style="margin-top: 1em"; id="sendBtn">
				Save changes
			</button>
		</div>
	</div>
</div>
{{ end }}
